  .navbar {
    margin: -.5vw;
    overflow: hidden;
    background-color: white;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  .container {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
  }

  .parkinglot{
    width: 60vw;
    height: 70vh;
    z-index: 10;
    margin-left: 20vw;
    margin-top: 10vh;
    background-color: white;
		background-image: url("parkinglot.png");
    background-size: 100% 100%;
  }
  
  .img-container img {
    position: absolute;
    top: -10vh;
    left: 15vw;
    transform: scale(.4);
    z-index: 1;
    outline: 2px solid blue;
  border: 1px solid white;
  }